.github-profile {
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
    margin: 1rem;
    .info {
        display: inline-block;
        margin-left: 12px;
        text-align: left;
        .name {
            font-weight: 900;
            font-size: 1.4em;
        }
        .company {
            font-size: 1.2em;
        }
    }
    img {
        width: 100px;
    }
}